*.in
*.lo
*.la
*.o
*.pico

aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
missing
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
Makefile
stamp-h1
test-driver

htscodecs/.deps/
htscodecs/.libs/
htscodecs/Makefile

htscodecs/version.h

tests/*.log
tests/*.trs
tests/.deps/
tests/.libs/
tests/arith_dynamic
tests/entropy
tests/fqzcomp_qual
tests/Makefile
tests/rans4x16pr
tests/rans4x8
tests/test.out/
tests/tokenise_name3
tests/varint
